.weight-tracker {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin: 0.5em;

  .formatted-container {
    padding: 1em;
    border: 1px solid #000;
    border-radius: 12px;

    background-color: #282828;
    color: rgb(230, 230, 230);
  }
}

.weight-entry-form {
  display: flex;
  gap: 4px;
  flex-direction: column;

  .last-item {
    margin-top: auto;
  }
}

.form {
  display: flex;
  gap: 4px;
  align-items: flex-end;
  align-self: flex-start;

  label {
    display: flex;
    gap: 4px;
    flex-direction: column;
    height: 46px;
  }
}

.dashboard {
  display: flex;
  gap: 16px;

  @media (max-width: 885px) {
    flex-direction: column;
  }

  h3 {
    align-self: center;
  }

  .sep {
    @media (min-width: 886px) {
      border-right: 1px solid #aaa;
    }
    @media (max-width: 885px) {
      border-top: 1px solid #aaa;
    }
  }
}

button {
  border-radius: 100vw;
  border: 1px solid black;
  padding: 3px 9px;
  margin: 0;
}
